



button {
    background-color: #93837b;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: right;
    float: right;
    border: none;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    background-image: url("v1016-b-08.jpg");
}


body>main>section>aside:nth-child(1){

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
body>main>section>aside:nth-child(2){

    display: flex;
    justify-content: right;
    align-items:flex-end;

}

.imishan{

    font-size: 50px;
    font-weight: bold;
    font-family:"JetBrains Mono NL ExtraBold";
    top:50px;
}

.Stack{

    font-size: 40px;
    font-weight: bold;
    font-family: "Arial Black";
}

.Best{
    font-size: 48px;
    font-weight: bold;
    font-family: Arial;
    color: #00ff16;
    text-align: right;
}

.Social {

}

.details{

    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.full{

    font-size: 60px;
    color: #0000ff;
}

.mine{

    font-size: 25px;
    font-weight: bold;

}

/*ABOUT*/


/*RESUME*/

.overview{

    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    color: red;
}

.who{
    font-size: 35px;
    font-weight: bold;
    font-family: "JetBrains Mono";

}

.fotome{

    align-items:flex-end;
    display: flex;
    justify-content: right;
    align-items:flex-end;
}

.ishanim{

    font-size: 30px;
    font-weight: bold;
    color: #00ff16;
}

.Software{

    font-size:28px;
    font-weight: bold;

}

.Computer{

    align-items:flex-end;
    display: flex;
    justify-content: right;
    align-items:flex-end

}

.Info{

    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;

}

.education{

    height: 60px;
    width: 240px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "JetBrains Mono NL ExtraBold";
    background: black;
}

.book{

    display: flex;
    align-items: center;
justify-content: center;

}

.ordinary{
    font-size: 25px;
    font-weight: bold;
    color: #00ff16;
}

.yatalamatha{
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

.advance{
    font-size: 25px;
    font-weight: bold;
    color: #00ff16;
}


.richerd{

    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

.profersional{

    height: 60px;
    width: 550px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "JetBrains Mono NL ExtraBold";
    background: black;

}

.diploma{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hnd{

    font-size: 25px;
    font-weight: bold;
    color: deepskyblue;
}

.institute{

    font-size:20px;
    font-weight: bold;
}

.after{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: #0e9fce;
}

.knowledge{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;

}
/*RESUME*/



/*PROJECT*/

.also{

    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
}

.all{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.navmain .mainmenu{

    position: relative;
    width: 600px;
    height: 250px;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;
}


.navmain .mainmenu .menuitem img{

    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
}


.navmain .mainmenu .menuitem h4{

    /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;
}

/*PROJECT*/


/*SKILLS*/


.pro{

    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;
    padding-bottom: 10px;
    margin-top: 60px;
}


.programming .main  {
    position: relative;
    width: 600px;
    height: 250px;
    background: black;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;

}

.programming .main .maindiv img
{
    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;

}

.programming .main .maindiv h4
{
   /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;

}

.toolsmain{

    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;
    padding-bottom: 10px;
    margin-top: 60px;

}

.tools .maindiv2 {
    position: relative;
    width: 600px;
    height: 250px;
    background: black;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;

}

.tools .maindiv2 .maindivimg img{
    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
}


.tools .maindiv2 .maindivimg h4 {

    /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;

}

.freelancrmain{
    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;
    padding-bottom: 10px;
    margin-top: 60px;

}

.freelancer .maindiv3 {

    position: relative;
    width: 600px;
    height: 250px;
    background: black;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;
}

.freelancer .maindiv3 .mainimg img{

    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
}

.freelancer .maindiv3 .mainimg h4 {

    /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;
}

.freelancertext{

    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 123px;
    margin-top: 72px;
}
/*Skills*/


/*Gallery*/

.Gallery{
    position: relative;
    width: 1300px;
    height: 550px;
    top: 30px;
    left: 30px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;

}

.Gallery .Image1 {
    background-image: url("/assets/GalleryImages/014328f4-5d93-4ac1-8f8b-9a18c14b1ff6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);

}

.Gallery .Image2{
    background-image: url("/assets/GalleryImages/IMG-8530.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

.Gallery .Image3{
    background-image: url("/assets/GalleryImages/Cap.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
    grid-column: 3/4;
    grid-row: 1/4;
}

.Gallery .Image4{
    background-image: url("/assets/GalleryImages/Cricket.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

.Gallery .Image5{
    background-image: url("/assets/GalleryImages/Mates.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

.Gallery .Image6{
    background-image: url("/assets/GalleryImages/Mates.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
    grid-column: 2/1;
    grid-row: 2/2;
}

/*Images*/

/*Contact*/

#Contact{

    top:0;
    margin: 0.67em;
    padding-bottom: 100px;
}

.contact{
    font-size: 30px;
    font-weight: bold;
    font-family: "Arial Black";
}

.location {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 18%;
    width: 35%;
    background-color: #051e8f;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

.Contact2 .call{
    position: absolute;
    margin: auto;
    margin-top: 127px;
    left: 0;
    right: 0;
    height: 18%;
    width: 35%;
    background-color: #051e8f;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

.Contact2 .gmail{
    position: absolute;
    margin: auto;
    margin-top: 255px;
    left: 0;
    right: 0;
    height: 18%;
    width: 35%;
    background-color: #051e8f;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

.Contact2 .yandex{
    position: absolute;
    margin: auto;
    margin-top: 383px;
    left: 0;
    right: 0;
    height: 18%;
    width:35%;
    background-color:#051e8f;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

 #location{

     position: relative;
     margin: 50px;
     margin-top: 40px;
     cursor: pointer;
     left: 398px;
     top: -30px;
 }

 #callus{
     position: relative;
     margin: 50px;
     margin-top: 40px;
     cursor: pointer;
     left: 398px;
     top: -244px;
 }


#mail{
    position: relative;
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
    left: 398px;
    top: -412px;
}

#yandex{
    position: relative;
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
    left: 398px;
    top: -580px;
}

#details{
    position: relative;
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
    top: -192px;
    left: 500px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

#phoneNo{
    position: relative;
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
    top: -392px;
    left: 530px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

#ishandanu{
    position: relative;
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
    top: -565px;
    left: 530px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

#dhananjanayandex{
    position: relative;
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
    top: -730px;
    left: 530px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

.contactMe{
    position: relative;
    width: 1000px;
    height: 600px;
    top: 30px;
    left: 30px;
    display: block;
    margin-top: -680px;

}

#contactimg{
    position: absolute;
    right: 0;
    bottom: 88px;

}

#fullname{

    font-size: 20px;
    font-family: "JetBrains Mono NL ExtraBold";
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    left: 0;
    right: 0;
}

#email{
    font-size: 20px;
    font-family: "JetBrains Mono NL ExtraBold";
    font-weight: bold;
    position: absolute;
    margin: auto;
    margin-top: 30px;
    left: 0;
    right: 0;
}

#msg{

    font-size: 20px;
    font-family: "JetBrains Mono NL ExtraBold";
    font-weight: bold;
    margin: auto;
    margin-top: 40px;
    left: 0;
    right: 0;
}

#submit{
    position: absolute;
    height: 50px;
    width: 100px;
    left: 0;
    right: 50%;
    bottom: 0;
    margin:auto;
    background-color: darkblue;
}

#nametxt{
    height: 45px;
    width: 450px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Arial Black";

}

#emailtxt{
    height: 45px;
    width: 450px;
    margin-top: 80px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Arial Black";
}

#msgtxt{
    height:180px;
    width: 450px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Arial Black";
}