



button {
    background-color: #93837b;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: right;
    float: right;
    border: none;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    background-image: url("v1016-b-08.jpg");
}


body>main>section>aside:nth-child(1){

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
body>main>section>aside:nth-child(2){

    display: flex;
    justify-content: right;
    align-items:flex-end;

}

.imishan{

    font-size: 50px;
    font-weight: bold;
    font-family:"JetBrains Mono NL ExtraBold";
    top:50px;
}

.Stack{

    font-size: 40px;
    font-weight: bold;
    font-family: "Arial Black";
}

.Best{
    font-size: 48px;
    font-weight: bold;
    font-family: Arial;
    color: #00ff16;
    text-align: right;
}

.Social {

}

.details{

    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.full{

    font-size: 60px;
    color: #0000ff;
}

.mine{

    font-size: 25px;
    font-weight: bold;

}

/*ABOUT*/


/*RESUME*/

.overview{

    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    color: red;
}

.who{
    font-size: 35px;
    font-weight: bold;
    font-family: "JetBrains Mono";

}

.fotome{

    align-items:flex-end;
    display: flex;
    justify-content: right;
    align-items:flex-end;
}

.ishanim{

    font-size: 30px;
    font-weight: bold;
    color: #00ff16;
}

.Software{

    font-size:28px;
    font-weight: bold;

}

.Computer{

    align-items:flex-end;
    display: flex;
    justify-content: right;
    align-items:flex-end

}

.Info{

    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;

}

.education{

    height: 60px;
    width: 240px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "JetBrains Mono NL ExtraBold";
    background: black;
}

.book{

    display: flex;
    align-items: center;
justify-content: center;

}

.ordinary{
    font-size: 25px;
    font-weight: bold;
    color: #00ff16;
}

.yatalamatha{
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

.advance{
    font-size: 25px;
    font-weight: bold;
    color: #00ff16;
}


.richerd{

    font-size: 20px;
    font-weight: bold;
    font-family: "Arial Black";
}

.profersional{

    height: 60px;
    width: 550px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "JetBrains Mono NL ExtraBold";
    background: black;

}

.diploma{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hnd{

    font-size: 25px;
    font-weight: bold;
    color: deepskyblue;
}

.institute{

    font-size:20px;
    font-weight: bold;
}

.after{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: #0e9fce;
}

.knowledge{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;

}
/*RESUME*/



/*PROJECT*/

.also{

    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
}

.all{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.navmain .mainmenu{

    position: relative;
    width: 600px;
    height: 250px;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;
}


.navmain .mainmenu .menuitem img{

    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
}


.navmain .mainmenu .menuitem h4{

    /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;
}

/*PROJECT*/


/*SKILLS*/


.pro{

    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;
    padding-bottom: 10px;
    margin-top: 60px;
}


.programming .main  {
    position: relative;
    width: 600px;
    height: 250px;
    background: black;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;

}

.programming .main .maindiv img
{
    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;

}

.programming .main .maindiv h4
{
   /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;

}

.toolsmain{

    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;
    padding-bottom: 10px;
    margin-top: 60px;

}

.tools .maindiv2 {
    position: relative;
    width: 600px;
    height: 250px;
    background: black;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;

}

.tools .maindiv2 .maindivimg img{
    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
}


.tools .maindiv2 .maindivimg h4 {

    /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;

}

.freelancrmain{
    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black";
    text-align: center;
    padding-bottom: 10px;
    margin-top: 60px;

}

.freelancer .maindiv3 {

    position: relative;
    width: 600px;
    height: 250px;
    background: black;
    display: flex;
    margin: auto;
    top: 25px;
    bottom: 0;
}

.freelancer .maindiv3 .mainimg img{

    position: relative;
    /*flex: 0 0 100%;*/
    margin: 50px;
    margin-top: 40px;
    cursor: pointer;
}

.freelancer .maindiv3 .mainimg h4 {

    /* position: relative;*/
    justify-content: center;
    margin: auto;
    padding-left: 60px;
    /*margin-bottom: 50px;*/
    font-size: 30px;
    margin-top: -25px;
}

.freelancertext{

    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 123px;
    margin-top: 72px;
}